{% extends 'base.html' %}

{% block title %}Cronos (Controle de notas de oficiais){% endblock %}

{% block content %}
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Matéria</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Descrição</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Método de Avaliação</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" >
      </div>
  </form>
{% endblock %}

